
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'hilo_aerial.jpg' %>
      <div class="carousel-caption">
        I'm in Hawai'i, where should I eat?
      </div>
    </div>
    <div class="item">
      <%= image_tag 'sunrise.jpg' %>
      <div class="carousel-caption">
        Any ideas?
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="apple_pagination2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-1">
        <%= will_paginate @places %>
      </div>
      <div class="col-xs-5", style="text-align:right">
        <%= page_entries_info @places %> 
      </div>      
    </div>
  </div>
</div>

<% @places.each do |place| %>
  <div class="booyah-box col-xs-10 col-xs-offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br /><br />
    <% if place.photos.present? %>
      <%= image_tag place.photos.first.picture, class: "img-responsive col-xs-4" %>
    <% end %>
    <p><%= place.description %></p><br />
    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>
    <% if place.comments.present? %>
      <div class="col-xs-12">
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> -
          <% end %>
          <%= place.comments.last.message %>
          <small><%= place.comments.last.user.email %></small>
        </blockquote>
      </div>
    <% end %>
  </div>
<% end %>
<br class="clear"/>

<div class="apple_pagination2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-1">
        <%= will_paginate @places %> 
      </div>
      <div class="col-xs-5", style="text-align:right">
        <%= page_entries_info @places %> 
      </div>      
    </div>
  </div>
</div>

